<h2><%= @report.title %>の状態</h2>

<%= form_for [@report, @state] do |f| %>
  <div>
    <%= f.label :state, '状態は？' %>
    <%= f.select :state, State.states.keys.map {|k| [k, k]} %>
  </div>
  <%= f.submit %>
<% end %>